<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hair.mapping.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.hair.model.Product" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="proName" property="proName" jdbcType="VARCHAR" />
    <result column="dic_id" property="dicId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="subType" property="subType" jdbcType="VARCHAR" />
     <result column="hairType" property="hairType" jdbcType="VARCHAR" />
    <result column="permed" property="permed" jdbcType="VARCHAR" />
     <result column="grade" property="grade" jdbcType="VARCHAR" />
    <result column="texture" property="texture" jdbcType="VARCHAR" />
    <result column="unit" property="unit" jdbcType="DOUBLE" />
    <result column="items" property="items" jdbcType="VARCHAR" />
    <result column="hairLen" property="hairLen" jdbcType="VARCHAR" />
    <result column="hairColor" property="hairColor" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
     <result column="hotsale" property="hotsale" jdbcType="VARCHAR" />
      <result column="column1" property="column1" jdbcType="VARCHAR" />
      <result column="column2" property="column2" jdbcType="VARCHAR" />
      <result column="column3" property="column3" jdbcType="VARCHAR" />
      <result column="column4" property="column4" jdbcType="VARCHAR" />
      <result column="column5" property="column5" jdbcType="VARCHAR" />
      <result column="column6" property="column6" jdbcType="VARCHAR" />
      
           
    <collection property="imageList" column="contect" ofType="com.hair.model.Image">  
         <id column="image_id" property="id" jdbcType="INTEGER" />
	     <result column="ipath" property="ipath" jdbcType="VARCHAR" />
	     <result column="iname" property="iname" jdbcType="VARCHAR" />
	     <result column="itype" property="type" jdbcType="INTEGER" />
	     <result column="contect" property="contect" jdbcType="VARCHAR" />
    </collection>  
  </resultMap>
  <sql id="Base_Column_List" >
    ID,proName,dic_id, subType, type, hairType, grade, permed,
     texture, unit,  items,hairLen , hairColor ,remark ,hotsale , 
     column1,column2,column3,column4,column5,column6
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
   	 p.ID ,proName,d.name subType, d.code type, hairType, grade, permed,
     texture, unit,  items,hairLen , hairColor , p.remark ,hotsale ,
      i.id image_id ,ipath ,iname ,i.type itype , contect
      from t_product  p  join  t_dictionary d  on  p.dic_id = d.id 
     left join t_image i on p.id = i.contect
    where  p.ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByProductNoAndPwd" resultMap="BaseResultMap" parameterType="com.hair.model.Product" >
    select 
    <include refid="Base_Column_List" />
    from t_product
    where type = #{type}
    and hairType = #{hairType}
  </select>
  
  <select id="selectProductByWhere" resultMap="BaseResultMap" parameterType="com.hair.model.Product" >
    select 
   	 p.ID ,proName,d.name subType, d.code type, hairType, grade, permed,
     texture, unit,  items,hairLen , hairColor , p.remark ,hotsale ,
      i.id image_id ,ipath ,iname ,i.type itype , contect
      from t_product  p  join  t_dictionary d  on  p.dic_id = d.id 
     left join t_image i on p.id = i.contect
    where  1=1
	     <if test="dicId != null and dicId != 0" >
	        and p.dicId = #{dicId}
	      </if>
       <if test="type != null and type != ''" >
        and d.code like #{type}
      </if>
      <if test="subType != null and subType != ''" >
        and d.name like #{subType}
      </if>
      <if test="proName != null and proName != ''" >
        and  proName like  #{proName}
      </if>
      <if test="hotsale != null and hotsale != ''" >
        and  hotsale like  #{hotsale}
      </if>
  </select>
  
    <select id="selectProductCountByWhere" resultType="java.lang.Long" parameterType="com.hair.model.Product" >
    select 
    	count(*) 
    from t_product
    where 1=1
       <if test="type != null and type != ''" >
        and type like #{type}
      </if>
      <if test="subType != null and subType != ''" >
        and subType like #{subType}
      </if>
      <if test="proName != null and proName != ''" >
        and  proName like  #{proName}
      </if>
       <if test="hotsale != null and hotsale != ''" >
        and  hotsale like  #{hotsale}
      </if>
  </select> 
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_product
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hair.model.Product"   keyProperty="id" >
  	 <selectKey keyProperty='id' resultType='int' order='AFTER'  >  
        select LAST_INSERT_ID();  
    </selectKey>  
    insert into t_product ( dic_id, proName, texture, 
      unit, hairType, 
      remark, permed, items, 
      subType, type , grade , hairLen , hairColor , hotsale,
      column1,column2,column3,column4,column5,column6)
    values ( #{dicId, jdbcType=INTEGER}, #{proName,jdbcType=VARCHAR},  #{texture,jdbcType=VARCHAR}, 
       #{unit,jdbcType=VARCHAR}, #{hairType,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{permed,jdbcType=VARCHAR}, #{items,jdbcType=VARCHAR}, 
      #{subType,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR} , #{grade ,jdbcType=VARCHAR} , 
      #{hairLen,jdbcType=VARCHAR} , #{hairColor ,jdbcType=VARCHAR} ,#{hotsale,jdbcType=VARCHAR},
#{column1,jdbcType=VARCHAR},#{column2,jdbcType=VARCHAR},#{column3,jdbcType=VARCHAR},
      #{column4,jdbcType=VARCHAR},#{column5,jdbcType=VARCHAR},#{column6,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hair.model.Product" >
    insert into t_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="proName != null" >
        proName,
      </if>
      <if test="texture != null" >
        texture,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="hairType != null" >
        hairType,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="permed != null" >
        permed,
      </if>
      <if test="items != null" >
        items,
      </if>
      <if test="subType != null" >
        subType,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="hairLen != null" >
        hairLen,
      </if>
      <if test="hairColor != null" >
        hairColor,
      </if>
      <if test="hotsale != null" >
        hotsale,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="proName != null" >
        #{proName,jdbcType=VARCHAR},
      </if>
      <if test="texture != null" >
        #{texture,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="hairType != null" >
        #{hairType,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="permed != null" >
        #{permed,jdbcType=VARCHAR},
      </if>
      <if test="items != null" >
        #{items,jdbcType=VARCHAR},
      </if>
      <if test="subType != null" >
        #{subType,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="hairLen != null and hairLen>=0" >
        #{hairLen,jdbcType=VARCHAR},
      </if>
      <if test="hairColor != null and hairColor>=0" >
        #{hairColor,jdbcType=VARCHAR},
      </if>
      <if test="hotsale != null" >
        #{hotsale,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hair.model.Product" >
    update t_product
    <set >
      <if test="proName != null" >
        proName = #{proName,jdbcType=VARCHAR},
      </if>
      <if test="texture != null" >
        texture = #{texture,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="hairType != null" >
        hairType = #{hairType,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="permed != null" >
        permed = #{permed,jdbcType=VARCHAR},
      </if>
      <if test="items != null" >
        items = #{items,jdbcType=VARCHAR},
      </if>
      <if test="subType != null" >
        subType = #{subType,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="hairLen != null and hairLen>=0" >
        hairLen = #{hairLen,jdbcType=VARCHAR},
      </if>
      <if test="hairColor != null and hairColor>=0" >
        hairColor = #{hairColor,jdbcType=VARCHAR},
      </if>
      <if test="hotsale != null" >
        hotsale = #{hotsale,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hair.model.Product" >
    update t_product
    set 
      proName = #{proName,jdbcType=VARCHAR},
      dic_id = #{dicId , jdbcType = INTEGER},
      hairType = #{hairType,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      permed = #{permed,jdbcType=VARCHAR},
      items = #{items,jdbcType=VARCHAR},
      subType = #{subType,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      grade = #{grade , jdbcType=VARCHAR},
       hairLen = #{hairLen,jdbcType=VARCHAR},
      hairColor = #{hairColor , jdbcType=VARCHAR}, 
      hotsale = #{hotsale , jdbcType=VARCHAR},
      column1 = #{column1,jdbcType=VARCHAR},
      column2 = #{column2,jdbcType=VARCHAR},
      column3 = #{column3,jdbcType=VARCHAR},
      column4 = #{column4,jdbcType=VARCHAR},
      column5 = #{column5,jdbcType=VARCHAR},
      column6 = #{column6,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>