<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hair.mapping.UserMapper" >
  <resultMap id="BaseResultMap" type="com.hair.model.User" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="userNo" property="userNo" jdbcType="VARCHAR" />
    <result column="userName" property="userName" jdbcType="VARCHAR" />
     <result column="pwd" property="pwd" jdbcType="VARCHAR" />
     <result column="roleid" property="roleId" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="telphone" property="telphone" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, userName, userNo, pwd, roleid, sex, email, position,  telphone,  remark
    
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_user
    where ID = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByUserNoAndPwd" resultMap="BaseResultMap" parameterType="com.hair.model.User" >
    select 
    <include refid="Base_Column_List" />
    from t_user
    where userNo = #{userNo}
    and pwd = #{pwd}
  </select>
  
  <select id="selectUserByWhere" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select 
    <include refid="Base_Column_List" />
    from t_user
    where 1=1
       <if test="userNo != null and userNo != ''" >
        and userNo like #{userNo}
      </if>
      <if test="userName != null and userName != ''" >
        and userName like #{userName}
      </if>
      <if test="position != null and position != ''" >
        and position like #{position}
      </if> 
     
  </select>
  
    <select id="selectUserCountByWhere" resultType="java.lang.Long" parameterType="java.util.HashMap" >
    select 
    	count(*) 
    from t_user
    where 1=1
       <if test="userNo != null and userNo != ''" >
        and userNo like #{userNo}
      </if>
      <if test="userName != null and userName != ''" >
        and userName like #{userName}
      </if>
      <if test="position != null and position != ''" >
        and position like #{position}
      </if> 
  </select> 
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_user
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hair.model.User" >
    insert into t_user (ID,  email, 
      position, pwd, 
      remark, sex, telphone, 
      userName, userNo , roleid )
    values (#{id,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}, 
       #{position,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{telphone,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{userNo,jdbcType=VARCHAR} , #{roleId ,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hair.model.User" >
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="pwd != null" >
        pwd,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="telphone != null" >
        telphone,
      </if>
      <if test="userName != null" >
        userName,
      </if>
      <if test="userNo != null" >
        userNo,
      </if>
      <if test="roleId != null" >
        roleid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="telphone != null" >
        #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userNo != null" >
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hair.model.User" >
    update t_user
    <set >
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="telphone != null" >
        telphone = #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        userName = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userNo != null" >
        userNo = #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        roleid = #{roleId,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hair.model.User" >
    update t_user
    set 
      email = #{email,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      telphone = #{telphone,jdbcType=VARCHAR},
      userName = #{userName,jdbcType=VARCHAR},
      userNo = #{userNo,jdbcType=VARCHAR},
      roleid = #{roleId , jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>